<html>
<head>
	<title>Movie Trivia</title>
	<link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
	<p>
	<h1>Type a keywoed you'd like ti search for:</h1>
	</p>
	<br><br>
	<p>
		<form action="/goSearch">
			<input type="text" name="pattern" placeholder="movie search keyword"/>
			<input type="submit" value="Go Seaerch"/>
		</form>
	</p>
</body>
</home>