<html>
<head>
	<title>Movie Trivia</title>
	<link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
	<p>
	<h1>Welcome to the movie trivia!</h1>
	</p>
	<br><br>
	<p>
		<form action="/input">
			<input type="submit" value="Start"/>
		</form>
	</p>
</body>
</home>